@media (max-width: 768px){
    .liens{
        display:none;
    }
    .icon{
        display: block;
        color: pink;
    }
    .topnav{
        padding: 60px;
    }
    .topnav.responsive a{
        display: block;
        text-align: left;
    }
    a{
        color: pink;
    }
}